body{
    background-color: #000;
    font-family: "Lucida Console";
    color: #6b6b6b;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: min-content;
    height: min-content;
    padding-bottom: 15px
}

div {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text{
    width: fit-content;
    max-width: 568px;
    height: auto;
    margin: 0 auto;
    left: -230px;
    position: relative;
}

.boards-list-font{
    font-size: 20px;
}

a {
    font-family: "Lucida Console";
    text-decoration: none;
    display: block;
    text-align: left;
    margin: 0 auto;
    font-size: 25px;
}

a:hover{
    text-decoration: underline;
    color: #fff;
}

.board{
    color: #6b6b6b;
}

#maincontainer {
    width: 500px;
    border-radius: 20px;
    border: 4.5px outset #fff;
    max-width: 568px;
    height: auto;
    margin: 0 auto;
    position: relative;
    padding: 20px
}

#boardcontainer{
    width: fit-content;
}

#index {
    margin: 20px;
    line-height: 1.5;
    columns: 2
}

.endpage{
    font-size: small;
    text-align: center;
    margin-top: 200px;
}


